#login_div{
    position: absolute;
    width: 100%;
    display: none;
}
#regedit_div{
    position: absolute;
    width: 100%;
    display: none;
}
#load_div{
    position: absolute;
    width: 50;
    display: none;
}