/*遮罩层*/
.shade{
    position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color:black;
     opacity: 0.5;
     z-index: 9;
 }
 /*对话框*/
 .mode{
     width: 200px;
     height: 150px;
     background-color: whitesmoke;
     position: fixed;
     left: 50%;
     top: 50%;
     margin-top: -200px;
     margin-left: -250px;
     z-index: 10;
 }
 /*隐藏*/
 .hide{
     display: none;
 }